:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  font-size: 0.9em;
  color: #999;
  text-align: center;
  padding: 1em;
  background-color: lightgray;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em;
  background-color: lightgray;
  min-height: 95vh;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: lightblue;
    padding: 3em;
    max-width: 70rem;
    min-width: 50vw;
    flex-direction: column;
    color: #333;
  }
}

.astro {
  border-radius: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
  border: 2px solid #b39ddb;
}

.astro-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  align-items: center;

  select {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: px solid #6c63ff;
    background: linear-gradient(90deg, #f3f3f3 0%, #e0e7ff 100%);
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(48, 47, 68, 0.08);
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin: 0.5rem 0 1rem 0;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    appearance: none;
    min-width: -webkit-fill-available;
    /* width: inherit; */
  }
}

.form-button {
  padding: 0.75rem 1rem;
  background-color: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 00;
  box-shadow: 0 2px 8px rgba(108, 99, 255, 0.08);
  transition: background-color 0.2s, box-shadow 0.2s;
  margin: 0;
}
.save-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;

  button {
    padding: 0.5rem 0.75rem;
    background-color: #a7a4df;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(108, 99, 255, 0.08);
    transition: background-color 0.2s, box-shadow 0.2s;
    margin: 0;
  }
}

.pulldown-container {
  min-width: 10rem;

  div {
    position: relative; /* Ensures the pointer is positioned correctly */
  }
}

.pulldown-pointer {
  pointer-events: none;
  position: absolute;
  right: 0.75em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: #888;
}

.zodiac-sign {
  font-weight: bold;
  font-size: 4rem;
  color: #8e44ad;
  text-shadow: 0 1px 4px rgba(142, 68, 173, 0.5);
}

@media (max-width: 600px) {
  .zodiac-sign {
    font-size: 2rem;
  }
}

.zodiac-label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #7b2ff2;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  display: block;
  text-shadow: 0 1px 4px rgba(142, 68, 173, 0.5);
}

.chatResults {
  font-size: large;
}
